*.csv
*/.ipynb_checkpoints/*
test*
.DS_Store
core*
helper/__pycache__/*
*.err
*output_fold*/*
.vscode/*
Checkpoints/*
Analysis/*
WavAugment/*
__pycache__/
Final models/*
noise-free-sound/
.ipynb_checkpoints/
*.wav
*output_fold*
*cache*
experiments/**/*.sh
experiments/**/config.yml
